[submodule ".tmux-themepack"]
	path = .tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule ".emacs.d/elpa"]
	path = .emacs.d/elpa
	url = git@github.com:thomasmatecki/elpa.git
